:root{
  --tile-height: 128px;
  --tile-margin: 20px;
  --tile-width: 64px;
  /* This will be overridden based on the viewport width, see below. */
  --column-count: 2;
  /* Width of grids based on column-count and user width device */
  --content-width: calc((var(--column-count) * (var(--tile-width) + var(--tile-margin))) + 1px);
  /* These can be overridden by themes. */
  --primary-color: #007aff;
  --bg-color-btns: #efefef;
  --bg-color-ntp: #ffffff;

  --bg-color-tIcon: #dddddd;
  --bg-color-tLabel: #dddddd;

  --bg-color-newsI : #dddddd;
  --bg-textC-newsI : #333333;
  
  --bg-ql-bgbar: #007aff; 
  --bg-ql-bgicon: #000000a8;
  --bg-ql-cicon: #ffffff;

  --plus-i-top:0px;
  --ql-show :none;
  --dots-grids-ntp:inline;
  --title-tilev:visible;
  --box-shadow-ntp :rgba(0, 0, 0, 0.6);
  --newsItem-height : 130px;
  height: 100%;
}

/* TODO: Need to discuss with NTP folks before we remove font-family from the
 * body tag. */
body {
  background-attachment: fixed !important;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: small;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color-ntp);
  opacity: 0;
}

/* Show the body after all components are loaded */
.inited {
  opacity: 1 !important;
}

/* Button defaults vary by platform. Reset CSS so that the NTP can use buttons
 * as a kind of clickable div. */
button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

#ntp-contents {
  position: relative;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a:link {
  text-decoration: none !important;
}

#bookmarks-grid1,
#fake-bookmarks-grid1,
#bookmarks-grid2,
#fake-bookmarks-grid2,
#bookmarks-grid3,
#fake-bookmarks-grid3 {
  margin: auto;
  max-width: var(--content-width);
  position: relative;
}

#fake-bookmarks-grid1,
#fake-bookmarks-grid2,
#fake-bookmarks-grid3 {
  z-index: -100;
}

.grid-item {
  float: left;
  width: var(--tile-width);
  font-size: 10px;
  overflow: hidden;
  margin: calc(var(--tile-margin) / 2);
  color: #3c3c3c;
  text-align: center;
  z-index: 999999;
}
.grid-item a {
  text-decoration: none;
  color: var(--bg-color-tLabel);
}

.grid-image {
  border-radius: 6px;
  height: calc(var(--tile-width) - 4px);
  width:  calc(var(--tile-width) - 4px);
  background: var(--bg-color-tIcon);
  border: 2px solid var(--bg-color-tIcon);
  object-fit: contain;
}
#title_span{display: var(--title-tilev);}

.plus-item a,
.configure-item a,
.close-item a,
.newsItem a {
  text-decoration: none;
}
#title_span{
  width: var(--tile-width);
}

.plus-item {
  top: var(--plus-i-top);
}

.plus-item,
.close-item {
  position: absolute;
  right: 5px;
  width: 25px !important;
  height: 25px !important;
  font-size: 20px;
  line-height: 26px;
  z-index: 20;
  color: #777;
}

.configure-item {
  font-size: 25px;
  font-weight: 450;
  z-index: 999999;
  color: #777;
  float: left;
  background: var(--bg-color-btns);
  border: 2px solid var(--bg-color-btns);
  box-shadow: 0 1px 4px var(--box-shadow-ntp);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 8px;
}

#news-header{
  max-width: 800px;
  margin: auto;
}

#news {
  margin: auto;
  margin-top: 20px !important;
  max-width: 800px;
}

.newsImage {
  width: 128px;
  height: 128px;
  object-fit: cover;
  z-index: 9999999;
  border-radius: 6px;
}

.newsItem {
  margin: 8px;
  border-radius: 5px;
  max-width: calc(100vw - 30px);
  background: var(--bg-color-newsI);
  border: 1px solid var(--bg-color-newsI);
  box-shadow: 0 1px 4px var(--box-shadow-ntp);
  padding: 5px !important;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.newsTitle {
  color: #222;
  padding-right: 148px;
  padding-top: 5px;
}
.newsTitle a{
  color: var(--bg-textC-newsI);
}

.newsAttribution,
.newsTime {
  color: #555;
  font-size: 70%;
}

.newsTime {
  position: relative;
  top: 10px;
}

#locale {
  font-size: 12px;
  position: relative;
  top: -4px;
  padding-right: 6px;
}

.arrow-down {
  top: -2px;
  position: relative;
  font-size: 15px;
}

.show {
  display: block !important;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 2px 16px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  margin-left: 8px;
  border-radius: 8px;
  height: 300px;
}

.dropdown-content a {
  color: black;
  padding: 3px 1px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.localesList {
  line-height: 28px;
}

.localesListUnselected {
  list-style-type: circle;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.vrlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #282828;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.2s;
}
.vrlay-content {
  position: relative;
  width: 100%;
  margin-top: 35px;
  height: calc(100vh - 120px);
  text-align: center;
  color: #fff;
  background-color: #282828;
}


.settings-label {
  color: #fff;
  font-weight: bold;
  margin: auto;
  width: 242px;
  padding: 5px;
  border-radius: 5px;
  background: #101010d6;
  box-shadow: 0 1px 4px var(--box-shadow-ntp);
}

.form-input {
  position: relative;
  width: 350px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  color: #000;
  background-color: #efefef;
  box-shadow: 0 1px 0 0 #fff;
  transition: box-shadow 150ms ease-out;
}

.form-input:focus {
  box-shadow: 0 4px 0 0 #007aff;
}

.form-input.filled {
  box-shadow: 0 4px 0 0 green;
}

.vrlay-wrap button {
  color: #fff;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--box-shadow-ntp);
  width: 80px;
  height: 35px;
}

#sc-intro .swiper-slide {
  display: table;
}
#sc-intro .sc-intro-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#e-icon {
  background-color: #000;
    height: 35px;
    padding: 9px;
    border-radius: 5px;
    color: #efefef;
    margin-bottom: 5px;
}
.bts-buttons button{
  height: auto!important;
}

#p-tile {
  position: relative;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.btn-add,
.btn-save {
  background: green;
}

.btn-dark {
  background: #000;
}

.btn-del {
  background: red;
}

.btn-mtg {
  background: #007aff;
}


.ei_style {
  border: 2px solid #efefef !important;
}

button:focus {
  outline: none;
}

.ei_selected {
  background: #000 !important;
  border: 2px solid var(--primary-color) !important;
}

.bp_icons {
  height: 18px;
  vertical-align: middle;
}

.bp_buttons {

  vertical-align: middle;
  line-height: 14px;
  color: #777;
  background: var(--bg-color-btns);
  box-shadow: 0 1px 4px var(--box-shadow-ntp);
  border-radius: 5px;
  padding: 10px;
  margin: 4px;
}

.full-hidden {
  opacity: 0 !important;
  position: absolute !important;
  top: -9999999px;
  left: -9999999px;
  z-index: -99999;
  width: 100vw !important;
}

.closeImgInvisible {
  display: none;
}

@-webkit-keyframes shadow-inset-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

.wrapOnSwipe {
  background-color: #282828;
  position: absolute;
  right: 9px;
  border-radius: 5px;
  width: 0px;
  height: 142px;
  z-index: -10;
}
.swiper-pagination-bullet-active {
  background: var(--primary-color);
}
.swiper-pagination {
  position: relative;
  width: 100%;
  height: 27px;
  margin-bottom: 5px;
}
.swiper-p-intro {
  position: relative;
  bottom: 27px !important;
}
.swiper-c-intro{
  height: 100%;
}
.btn-spintro{
  position: absolute;
  color: #fff;
  border: none;
  border-radius: 5px;
  background:#000;
  font-size: 25px;
  width: 80px;
  height: 35px;
  bottom: 27px;
}
.swiper-next-intro{
  right: 20px;
}
.swiper-prev-intro{
  left: 20px;
}


.swiper-pagination-bullet {
  display: var(--dots-grids-ntp)!important;
  width: 14px;
  height: 14px;
  margin: 5px;
}

.btn-close {
  color: #fff;
  top: 8px;
  position: absolute;
  right: 8px;
  font-size: 16px;
  z-index: 10;
  border: none;
  border-radius: 5px;
  line-height: 25px;
  width: 25px;
  height: 25px;
}

button:disabled,
button[disabled] {
  background: #000;
  opacity: 0.2;
}

.buttons {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
}

.trigger,
.action {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.trigger {
  margin: 10px 0px 0px auto;
  background: var(--primary-color);
  color: #fff;
  height: 35px;
  width: 35px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  font-size: 17.5px;
  z-index: 1;
}

.action {
  background-color: #000;
  padding-left: 8px;
  color: #fff;
  height: 35px;
  min-width: 150px;
  text-align: left;
  line-height: 35px;
}

.floating-actions {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.open .floating-actions {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.action+.action,
.vrlay-wrap+.vrlay-wrap {
  margin-top: 5px;
}
.scrollable-wrap{
  overflow-x:hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 120px);
  max-width:80vw;
  margin: auto;
}

.show-classic {
  display: none;
}

.plus-item span {
  display: inline-block;
  transform: rotate(45deg);
}

.toggle {
    -webkit-appearance: none;
    width: 50px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    background-color: #707070;
    transition: background-color ease 0.3s;
}
.toggle:before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: #fff;
  left: 2px;
  top: 3px;
  border-radius: 50%;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
.toggle:checked {
  background-color: var(--primary-color);
}
.toggle:checked:before {
  left: 28px;
}
.toggle-options{
  width: 50px;
}
.settings-options{
  display: inline-block;
  width: 250px;
}
.settings-colors{
  display: inline-block;
  width: 200px;
}
.vw1,.vw2{
  text-align: left;
  margin: auto;
}
.vw1{max-width: 312px;}
.vw2{max-width: 240px;}

input[type="color"] {
	-webkit-appearance: none;
  border: none;
  vertical-align: middle;
  border-radius: 5px;
	width: 26px;
	height: 26px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.radio-toolbar input[type="radio"] {
  display:none; 
}
.radio-toolbar label {
  display: inline-block;
    background-color: transparent;
    padding: 8px 0px;
    margin: 5px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 5px;   
}
.radio-toolbar input[type="radio"]:checked + label { 
  background-color: black;
  border:2px solid var(--primary-color);
}

#quick_links{
  display: var(--ql-show);
  background: var(--bg-ql-bgbar);
  border-radius: 4px ;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  max-width: calc(100vw - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ql_icons a{
    display:inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
    font-size: 20px;
    line-height: 35px;
    border-radius: 4px;
    background-color:var(--bg-ql-bgicon);
    color:var(--bg-ql-cicon);
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
}