:root {
  --tile-height: 128px;
  --tile-margin: 10px;
  --tile-width: 64px;
  /* This will be overridden based on the viewport width, see below. */
  --column-count: 3;
  /* Width of grids based on column-count and user width device */
  --content-width: calc((var(--column-count) * (var(--tile-width) + var(--tile-margin))) + 1px);
  /* These can be overridden by themes. */


  /****************************** COLORS ******************************/
  /* Widgets property */
  --ntp-wdg0:#00000059;
  --ntp-wdg1:#00000059;
  --ntp-wdg2:#00000059;
  --ntp-wdg3:#00000059;
  --ntp-wdg4:#00000059;

  /********* GENERAL *******************/
  --ntp-c0:#000000;/*  Floating button background color */
  --ntp-c1:#ffffff;/*  Floating button icon color       */

  /********** QUICK LINKS ***************/
  --ntp-c2:#004c98;    /*  QuickLink background color       */
  --ntp-c3:#000000a8; /*  QuickLink icon background color  */
  --ntp-c4:#ffffff;  /*  QuickLink icon color             */
  
  /********** Search Bar ***************/
  --ntp-c5:#0a80fd;   /*  Search Bar border color           */
  --ntp-c6:#000000a8;/*  Search Bar text color             */
  --ntp-c7:#ffffff; /*  Search Bar tbackground color      */
  

  /********** Bookmarks Grid **********/
  --ntp-c8:#dddddd;      /*  Tile icon background color     */
  --ntp-c9:#dddddd;     /*  Tile icon border color         */
  --ntp-c10:#dddddd;   /*  Tile label text color          */
  --ntp-c11:#00000000;/*  Tile label background color    */
  --ntp-c12:#4faac2; /*  Swiper bullets color           */
  
  /**********  News Section ***********/
  --ntp-c13:#dddddd;   /* News item background color     */
  --ntp-c14:#333333;  /* News item text color           */
  --ntp-c15:#dddddd; /* News item border              */
  --ntp-c16:#dddddd;/* News toolbar color            */
  
  /************* Tabs ***************/
  --ntp-c17:#1a67a2;     /*  Selected tab                  */
  --ntp-c18:#333333;    /*  Not selected tab              */
  --ntp-c19:#dddddd;   /*  Tabs text color               */
  --ntp-c20:#dddddd;  /*  Tab background color          */
  --ntp-c21:#000000; /* Tab text color                 */
  
  --ntp-bgc: radial-gradient(at top left, rgb(0, 60, 125), rgb(0, 255, 241));
  /*  Background color of ntp        */
  --ntp-bgi: 0;
  /* Background style image          */

  /******************************* OPTIONS *******************************/
  --ntp-o0: 6px;/*  Tile icon style                */
  
  --ntp-o1: 'slide';  /* Swiper effect bookmarks grid    */

  --ntp-o2: 450;  /* Swiper speed bookmarks grid     */

  --ntp-03: rgba(0, 0, 0, 0.6);
  /*  Material design shadow         */
  --ntp-o4: "";
  /* Tile target                     */
  --ntp-o5: inline-block;
  /*  Tile label visibility          */
  --ntp-o6: inline-block;
  /*  Swiper bullets visibility      */
  --ntp-o7: 150px;
  /* News compact mode               */

  height: 100%;
}
.dark-color { color: black!important }
.light-color { color: white!important }	
body {
  background-attachment: fixed !important;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: small;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--ntp-bgc);
  background-image: var(--ntp-bgi);
  background-size: var(--ntp-bgs);
  opacity: 1;
}

/* Show the body after all components are loaded */
.inited {
  opacity: 1 !important;
}

/* Button defaults vary by platform. Reset CSS so that the NTP can use buttons
 * as a kind of clickable div. */
button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
/* Fix icons not centered*/
i.fas {
  line-height: inherit;
}

/* Dialogs for new_tile, settings*/
.dlg-vrlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #282828;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  opacity: 0;
}

.dlg-content {
  position: relative;
  width: 100%;
  margin-top: 42px;
  text-align: center;
}

.swiper-c-intro {
  height: 100%;
  color: #fff;
}

#ntp-contents {
  position: relative;
  margin: auto;
  max-width: 800px;
  user-select: none;
  /* Standard */
}

a:-webkit-any-link,
a:link {
  text-decoration: none !important;
}

/************** Search Bar **************/
#search_bar {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
}

#search_bar img {
  margin: 15px;
  border-radius: 12px;
}

.search_input {
  border: 1px solid var(--ntp-c5);
  color: var(--ntp-c6);
  background: var(--ntp-c7);
  outline: 0;
  line-height: 30px;
  margin: 4px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  width: calc(100% - 18px);
  box-shadow: 0 1px 4px var(--ntp-o3);
}

.search_button {
  display: none;
  color: #fff;
  background-color: #5AEED1;
  width: 40px;
  line-height: 40px;
  position: absolute;
  right: 0px;
  text-align: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  transition: box-shadow .3s ease-out;
}




/***************  Bookmarks grid ************************/
/* Icon that open settings of bookmarks*/
.icon- {
  position: absolute;
  color: #fff;
  width: 15px;
  height: 27px;
  font-size: 20px;
  text-align: center;
}

.bm-grid {
  margin: auto;
  max-width: var(--content-width);
  position: relative;

}
.close_img,
.edit_img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  border: 0px;
}

.blue-background-class {
  float: left;
  width: var(--tile-width);
  font-size: 10px;
  overflow: hidden;
  margin: calc(var(--tile-margin) / 2);
  text-align: center;
  background: #00294f;
  width: var(--tile-width);
}

.sortable-ghost {
  border-color: red;
}

iframe {
  display: none;
}

.hidden {
  visibility: hidden;
}

.grid-item {
  position: relative;
  display: inline-table;
  width: var(--tile-width);
  margin: calc(var(--tile-margin) / 2);
  font-size: 10px;
  overflow: hidden;
  text-align: center;
}

.grid-item a {
  text-decoration: none;
  color: var(--ntp-c10);
}

.grid-image {
  border-radius: var(--ntp-o0);
  height: calc(var(--tile-width) - 4px);
  width: calc(var(--tile-width) - 4px);
  background: var(--ntp-c8);
  border: 2px solid var(--ntp-c9);
  object-fit: contain;
}

#title_span {
  display: var(--ntp-o5);
  width: var(--tile-width);
  background: var(--ntp-c11);
  border-radius: 5px;
  margin-top: 2px;
}



/********** Bookmarks Swiper ***************/

#dlg_st .swiper-slide {
  height: auto !important;
}

#bkg-p .swiper-pagination-bullet {
  display: var(--ntp-o6) !important;
  width: 14px;
  height: 14px;
  margin: 5px;
}

#bkg-p .swiper-pagination-bullet-active {
  background: var(--ntp-c12);
}

#bkg-p {
  position: relative;
  width: 100%;
  height: 27px;
  margin-bottom: 5px;
}

#bg-preview {
  width: 150px;
  height: 250px;
  margin: auto;
  border: 4px solid white;
  background-color: var(--ntp-bgc);
  background-image: var(--ntp-bgi);
  background-size: var(--ntp-bgs);
}
#bkg-c .swiper-slide{
  border-radius:8px;
}
#edit_m_area{
 display:none;
 background: #000000aa;
 border-radius: 8px;
 padding: 4px;
 margin-top: 5px;
}
#edit_m_area .grid-item{
  display: none;
  opacity: 0;
}
#edit_m_area div{
  width: 50%;
  margin: 4px;
  height: 70px;
  text-align: center;
  border-radius:4px;
}
#edit_m_area i{
  color: #fff;
  line-height: 70px;
  font-size: 20px;
}

/***************** News Section ***************/
.newsT_icon {
  position: relative;
  float: right;
  height: 30px;
  font-size: 21px;
  line-height: 30px;
  margin-left: 10px;
}

#newsToolbar {
  height: 30px;
  color: var(--ntp-c16);
  padding: 5px;
}

#newsLocal {
  background: var(--ntp-c16);
  box-shadow: 0 1px 4px var(--ntp-o3);
  border-radius: 5px;
  border: 0px;
  height: 30px;
}

select::-ms-expand {
  display: none;
}

#newsLocal:focus {
  box-shadow: none;
  outline: none;
}

#newsLocal option {
  color: #000;
}

#newsLocal option:selected {
  color: #000;
  background: red;
}

#news-section {
  margin: auto;
  max-width: 800px;
  height: var(--ntp-o7);
  overflow: hidden;
}

.newsItem {
  position: relative;
  transition: margin 0ms ease 0s;
  width:  calc(100% - 20px);
  height: 130px;
  margin: 4px;
  background: var(--ntp-c13);
  border-radius: 5px;
  border: 1px solid var(--ntp-c15);
  box-shadow: 0 1px 4px var(--ntp-o3);
  padding: 5px !important;
  font-family: Helvetica, Arial, sans-serif;
}

.newsContent {
  position: absolute;
  font-size: 125%;
  height: 128px;
  width: calc(100% - 145px);
  max-width: 790px;
  margin-right: 136px;
  margin-left: auto;
  /*left*/
}

.newsImage {
  position: absolute;
  right: 5px;
  left: auto;
  /*left*/
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 6px;
}

.newsAttribution a,
.newsTitle a,
.newsTime {
  color: var(--ntp-c14);
}

.newsTitle {
  padding: 2px;
  height: 80px;
  overflow: hidden;
}

.newsAttribution,
.newsTime {
  font-size: 12px;
  opacity: 0.7;
}

.newsAttribution img {
  max-height: 12px;
}

.newsTime {
  position: absolute;
  bottom: 0px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/********** Settings : Logtool ***************/
#logC_section {
  height: 100px;
  overflow: auto;
  color: red;
  margin: 10px;
  padding: 5px;
  background: #282828;
  border: 2px solid #aaa;
  border-radius: 5px;
}

/****************** Settings Widget ***************/
#listWidgetOrder {
  padding: 0;
  margin: auto;
  list-style: none;
  max-width: 350px;
}

#listWidgetOrder li {
  background: #00000060;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 5px;
  position: relative;
  height: 40px;
}
#listWidgetOrder .sortable-ghost { opacity: 0; }

#listWidgetOrder li label {
  height: 40px;
  line-height: 40px;
}

.my-handle {
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  border-right: 1px solid #3e3e3e;
  top: 0;
  font-size: 20px;
  cursor: move;
  cursor: -webkit-grabbing;
}

.togg_li {
  position: absolute !important;
  right: 2px;
  top: 6px;
}


#e-icon {
  background-color: #000;
  height: 35px;
  padding: 9px;
  border-radius: 5px;
  color: #efefef;
  margin-bottom: 5px;
}

.bts-buttons button {
  height: auto !important;
}


.btn-dark {
  background: #000;
}

.btn-del {
  display: none;
  background: red;
}

.btn-mtg {
  background: #007aff;
}


.ei_style {
  border: 2px solid #efefef !important;
}

button:focus {
  outline: none;
}

.ei_selected {
  background: #000 !important;
  border: 2px solid var(--primary-color) !important;
}

.bp_icons {
  height: 18px;
  vertical-align: middle;
}

.bp_buttons {

  vertical-align: middle;
  line-height: 14px;
  color: #777;
  background: var(--bg-color-btns);
  box-shadow: 0 1px 4px var(--ntp-o3);
  border-radius: 5px;
  padding: 10px;
  margin: 4px;
}

.full-hidden {
  opacity: 0 !important;
  position: absolute !important;
  top: -9999999px;
  left: -9999999px;
  z-index: -99999;
  width: 100vw !important;
}

.toggleEditMode {
  display: none;
}

@-webkit-keyframes shadow-inset-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}





.btn-spintro {
  position: absolute;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #000;
  font-size: 25px;
  width: 80px;
  height: 35px;
  bottom: 27px;
}



.btn-close {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 8px;
  top: 8px;
  border: none;
  color: #fff;
  background: #00000060;
  border-radius: 5px;
  z-index: 300000;
}

button:disabled,
button[disabled] {
  background: #000;
  opacity: 0.2;
}



/********* Floating button ************/
#floating-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
}

.trigger,
.action {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.trigger {
  margin: 10px 0px 0px auto;
  background: var(--ntp-c0);
  color: var(--ntp-c1);
  height: 35px;
  width: 35px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  font-size: 18.5px;
  z-index: 1;
}

.action {
  background-color: #000;
  padding-left: 8px;
  color: #fff;
  height: 35px;
  min-width: 150px;
  text-align: left;
  line-height: 35px;
}

.floating-actions {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.open .floating-actions {
  height: auto;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.action+.action,
.vrlay-wrap+.vrlay-wrap {
  margin-top: 5px;
}

.scrollable-wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90vh;
  margin: auto;
}


.plus-item span {
  display: inline-block;
  transform: rotate(45deg);
}

.toggle {
  -webkit-appearance: none;
  width: 50px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  background-color: #444;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: #000;
  left: 2px;
  top: 3px;
  border-radius: 50%;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #009088;
}

.toggle:checked:before {
  left: 28px;
}

.toggle-options {
  width: 50px;
}

.settings-options {
  display: inline-block;
  width: 175px;
}

.settings-colors {
  display: inline-block;
  width: 190px;
}

.vw1,
.vw2 {
  text-align: left;
  margin: auto;
}

.vw1 {
  max-width: 312px;
}

.vw2 {
  max-width: 240px;
  position: relative;
}
 .color_front{
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 4px solid black;
  right: 12px;
  top: 0px;
  width: 26px;
  height: 26px;
  background: red;
  display: inline-block;
}
/*
input[type="color"]:before {
    content: attr(data-content)" ";
    position: absolute;
    top: 0px;
    z-index: -1;
    border-radius: 5px;
    text-align: right;
    color: #fff;
    background: #000;
    right: -7px;
    height: 21px;
    padding: 4px;
    width: 26px;
}*/
input[type="color"] {
  border: 2px solid #000;
  background: #000;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 100%;
  padding: 2px;
  width: 26px;
  height: 26px;
  opacity: 0;
}
#set-color22{
  opacity: 1!important;
}


input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: transparent;
  padding: 8px 0px;
  margin: 5px;
  width: 70px;
  border: 2px solid #444;
  border-radius: 5px;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #000;
  border: 2px solid #009088;
}

/**************** QuickLinks ***************/
#quick_links {
  position: relative;
  background: var(--ntp-c2);
  border-radius: 4px;
  box-shadow: 0 1px 4px var(--ntp-o3);
  max-width: 800px;
  padding: 5px;
  margin: 4px;
}

.ql_icons {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.ql_icons a {

  display: inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  font-size: 20px;
  line-height: 35px;
  border-radius: 4px;
  background-color: var(--ntp-c3);
  color: var(--ntp-c4);
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 5px;
  vertical-align: bottom;
  text-decoration: none;
}



.dragl-item {
  width: calc(100vw - 44px);
  height: calc(6vh - 8px);
  margin: 10px;
  background: green;
  color: #fff;
  line-height: calc(6vh - 8px);
  border: 4px black solid;
  border-radius: 8px;
}

.dragl-btn {
  font-size: 4vh;
  width: calc(6vh - 8px);
  height: calc(6vh - 8px);
  text-align: center;
  float: right;
  border-left: 4px black solid;
  z-index: 100;
}

.ctt {
  position: absolute;
  width: calc(100vw - 6vh - 40px);
  background: red;
  height: 100%;
  opacity: 0;
}

.dragl-content {
  font-size: 3vh;
  line-height: calc(6vh - 8px);
  width: calc(100vw - 6vh - 40px);
  padding-left: 5px;
  position: absolute;
}


.wdg-ntp {
  min-height: 20px;
  background: red;
  margin: 10px;
  padding: 4px;
  border-radius: 5px;
  animation: jelly 2s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

#wdg-0 {
  background: var(--ntp-wdg0);
  animation: swing 1.5s ease;
  animation-iteration-count: 1;
}

#wdg-1 {
  background: var(--ntp-wdg1);
  animation: swing 1.8s ease;
  animation-iteration-count: 1;
}

#wdg-2 {
  background:var(--ntp-wdg2);
  animation: swing 2.1s ease;
  animation-iteration-count: 1;
}

#wdg-3 {
  background: var(--ntp-wdg3);
  animation: swing 2.4s ease;
  animation-iteration-count: 1;
}

#wdg-4 {
  background: var(--ntp-wdg4);
  animation: swing 2.4s ease;
  animation-iteration-count: 1;
}



/*************** Tabs Widget *****************/

.wdg_tabs {
  height: 280px;
  background: var(--ntp-c20);
  position: relative;
  border-radius: 5px;
  margin: 5px;
}

.wdg_tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.wdg_tabs ul li {
  display: table-cell;
  width: auto;
  text-align: center;
}

.tab_label {
  margin: 0;
  display: block;
  background-color: var(--ntp-c18);
  padding: 10px;
  color: var(--ntp-c19);
  cursor: pointer;
  text-align: center;
}

.wdg_tabs ul {
  border-radius: 5px;
}

.wdg_tabs .rd_tab {
  display: none;
  position: absolute;
}

.wdg_tabs .rd_tab:checked~label {
  background-color: var(--ntp-c17);
}

.tab-content {
  border-top: solid 5px var(--ntp-c17);
  color: var(--ntp-c21);
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
}

.rd_tab:checked~.tab-content {
  display: block;
}

/************ NewTile/editTile Dialog****************/
#dlg_nt input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
  border: 0;
  transition: box-shadow 150ms ease-out;
}

#dlg_nt input[type=text]:focus {
  box-shadow: 0 4px 0 0 #007aff;
}

#dlg_nt input[type=text]:disabled {
  background: #00000070;
}

#dlg_nt input[type=text].filled {
  box-shadow: 0 4px 0 0 green;
}

#dlg_nt label,
#dlg_nt figcaption {
  color: #fff;
}

#form-id1 {
  padding: 16px;
}

@media screen and (min-width: 370px) {
  #form-id1 {
    width: 350px;
    margin: auto;
  }
}

#p-tile {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.custom-radio {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-radio li {
  float: left;
}

.custom-radio label {
  color: #ccc;
  border: solid 3px #ccc;
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio input[type="radio"]:checked+label {
  border-color: #33cc33;
  color: #33cc33;
}

.btn-save {
  display: none;
}

.btn-add,
.btn-save {
  background: green;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clearcenter {
  text-align: center;
}

hr {
  max-width: 250px;
  margin: auto;
  border: 1px solid #009088;
}


/************* Settings Dialog******************/
#sc-intro .swiper-wrapper {
  align-items: center;

}

#swip_settings_list button {
  background: #00000060;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 5px;
  width: 100%;
  max-width: 350px;
  position: relative;
  height: 44px;
}

#swip_settings_list .icon {
  position: absolute;
  left: 18px;
  top: 14px;
  font-size: 20px;
  color: #009088;
}

.setting_menu {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 8px;
  top: 8px;
  border: none;
  color: #fff;
  background: #00000060;
  border-radius: 5px;
  z-index: 300000;
}

.settings-label {
  color: #fff;
  font-weight: bold;
  margin: auto;
  width: 242px;
  padding: 5px;
  border-radius: 5px;
  background: #101010d6;
  box-shadow: 0 1px 4px var(--ntp-o3);
}

.vrlay-wrap button,
.btn {
  color: #fff;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--ntp-o3);
  width: 80px;
  height: 35px;
}

#list_ntp_bg {
  text-align: left;
  padding: 0;
}

#list_ntp_bg li {
  position: relative;
  height: 45px;
  line-height: 40px;
  margin-top: 10px;
  list-style: none;
}

#list_ntp_bg label.checkbox {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 1rem;
  cursor: pointer;
}

#list_ntp_bg label.checkbox input[type="checkbox"] {
  display: none;
}

#list_ntp_bg label.checkbox input[type="checkbox"]:checked+span {
  opacity: 1;
}

#list_ntp_bg label.checkbox::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 2px;
  border: 2px solid #fff;
}

#list_ntp_bg label.checkbox span {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 12px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 500ms ease;
}

#list_ntp_bg label.checkbox span::before {
  position: absolute;
  content: '';
  left: 11px;
  width: 3px;
  height: 11px;
  background-color: #fff;
}

#list_ntp_bg label.checkbox span::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 7px;
  width: 4px;
  height: 3px;
  background-color: #fff;
}

span.li_onright {
  display: none;
  right: 0;
  position: absolute;
}

#list_ntp_bg button {
  width: 45px;
}

#logo_eg {
  width: 64px;
  height: 64px;
  border-radius: 40px;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}

@keyframes stretch {
  0% {
    transform: scale(.1) rotate(0deg);
    border-radius: 100%;
  }

  100% {
    transform: scale(2) rotate(360deg);
    border-radius: 0%;
  }
}